@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --theme: 21 146 255;
    --background: 244 244 244;
    --background-secondary: 255 255 255;
    --foreground: 0 0 0;
    --btn-background: 255 255 255;
    --btn-background-hover: 250 250 250;
    --border: 238 238 238;
    --outline-border: 153 153 153;
    --text-primary: 0 0 0;
    --text-secondary: 136 136 136;
    --selection: 21 146 255;
    --error: 255 13 45;
    --skeleton-background: 244 244 244;
    --skeleton-content: 221 221 221;
  }

  @media (prefers-color-scheme: dark) {
    /* Set calendar icon color */
    input {
      color-scheme: dark;
    }
    
    :root {
      --theme: 21 146 255;
      --background: 34 34 34;
      --background-secondary: 24 24 24;
      --foreground: 255 255 255;
      --btn-background: 34 34 34;
      --btn-background-hover: 40 40 40;
      --border: 40 40 40;
      --outline-border: 102 102 102;
      --text-primary: 255 255 255;
      --text-secondary: 119 119 119;
      --selection: 21 146 255;
      --error: 223 9 37;
      --skeleton-background: 34 34 34;
      --skeleton-content: 51 51 51;
    }
  }

  html {
    font-size: 14px;
  }
}

@layer components {
  /* Force Tailwind to be desktop-first */
  /* max-w-screen properties are not generated for non-string values in tailwind.config.js */
  /* therefore we must manually set it to the defaults */
  .max-w-screen-2xl {
    max-width: 1536px;
  }
  .max-w-screen-xl {
    max-width: 1280px;
  }
  .max-w-screen-lg {
    max-width: 1024px;
  }
  .max-w-screen-md {
    max-width: 768px;
  }
  .max-w-screen-sm {
    max-width: 640px;
  }

  /* Custom */
  .max-w-screen-xs {
    max-width: 480px;
  }
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  @apply text-selection bg-selection/10;
}

::selection {
  @apply text-selection bg-selection/10;
}

@keyframes location-ping {
  75%, 100% {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}