@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --theme: 21 146 255;
    --background: 255 255 255;
    --background-secondary: 244 244 244;
    --foreground: 0 0 0;
    --btn-background: 255 255 255;
    --btn-background-hover: 250 250 250;
    --border: 223 223 223;
    --outline-border: 153 153 153;
    --text-primary: 0 0 0;
    --text-secondary: 153 153 153;
    --selection: 21 146 255;
    --error: 255 13 45;
  }

  @media (prefers-color-scheme: dark) {
    /* Set calendar icon color */
    input {
      color-scheme: dark;
    }
    
    :root {
      --theme: 21 146 255;
      --background: 34 34 34;
      --background-secondary: 24 24 24;
      --foreground: 255 255 255;
      --btn-background: 34 34 34;
      --btn-background-hover: 40 40 40;
      --border: 51 51 51;
      --outline-border: 102 102 102;
      --text-primary: 255 255 255;
      --text-secondary: 102 102 102;
      --selection: 21 146 255;
      --error: 223 9 37;
    }
  }

  html {
    font-size: 14px;
  }
}

@layer components {
  /* Loading animation */
  /* Parent element with the effect must also have the following properties: */
  /* relative overflow-hidden */
  /* .shimmer {
    @apply before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_2s_infinite] before:bg-gradient-to-r before:from-transparent before:via-shimmer-highlight before:to-transparent;
  }
  
  @media (prefers-color-scheme: dark) {
    .shimmer {
      @apply before:absolute before:inset-0 before:-translate-x-full before:animate-[shimmer_2s_infinite] before:bg-gradient-to-r before:from-transparent before:via-shimmer-highlight before:to-transparent;
    }
  } */
}

html {
  scroll-behavior: smooth;
}

::-moz-selection {
  @apply text-selection bg-selection/10;
}

::selection {
  @apply text-selection bg-selection/10;
}